.version.goazure /* version checker */
{
	color: #0000E6;
	background-color: #3F16BF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1260px;
	min-height: 2973px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u218
{
	z-index: 2;
	border-style: none;
	border-color: transparent;
	background: #0071BC url("../images/goazure.jpg") no-repeat center center;
	background-size: cover;
}

#u218_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
	padding-bottom: 190px;
}

#top
{
	left: 100px;
	position: relative;
}

#u242
{
	z-index: 136;
	width: 338px;
	background-color: transparent;
	left: 560px;
	margin-top: 104px;
	position: relative;
}

#u246-4
{
	z-index: 141;
	display: block;
	vertical-align: top;
	left: 483px;
	margin-top: 81px;
	position: relative;
}

#u241-13
{
	z-index: 123;
	width: 446px;
	min-height: 261px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	left: 507px;
	margin-top: 44px;
	position: relative;
}

#u241-2
{
	font-size: 48px;
	line-height: 84px;
}

#u218-bw
{
	z-index: 2;
	height: 1150px;
}

#u245
{
	z-index: 139;
	position: relative;
	width: 495px;
	margin-right: -10000px;
	margin-top: 1019px;
	left: 482px;
	background: url("../images/u245_states.png") no-repeat 0px 0px;
}

#u245_states
{
	height: 92px;
	width: 495px;
	vertical-align: top;
}

#u245:hover #u245_states
{
	background: url("../images/u245_states-r.png") no-repeat 0px 0px;
}

.hidpi #u245
{
	background-image: url("../images/u245_states_2x.png");
	background-size: 495px 92.00000000000011px;
}

.hidpi #u245:hover #u245_states
{
	background-image: url("../images/u245_states-r_2x.png");
	background-size: 495px 92.00000000000011px;
}

#u211
{
	z-index: 111;
	width: 100px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -575px;
}

#pu218,#pu186
{
	width: 0.01px;
	margin-left: -100px;
}

#u186
{
	z-index: 3;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 300px;
}

#u194-6
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 177px;
}

#u186-bw
{
	z-index: 3;
	margin-top: 464px;
	height: 472px;
}

#u181
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #222222;
	padding-bottom: 60px;
}

#pu205-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 169px;
}

#u205-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
}

#u179
{
	z-index: 31;
	width: 210px;
	min-height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 141px;
	margin-top: 16px;
	position: relative;
}

#pu199
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 55px;
	margin-left: 787px;
}

#u199
{
	z-index: 30;
	width: 115px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u176-4
{
	z-index: 26;
	margin-top: 222px;
	position: relative;
}

#u176-4_img
{
	display: block;
	vertical-align: top;
}

#u208-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-top: 184px;
	position: relative;
}

#u181-bw
{
	z-index: 4;
	margin-top: 1221px;
	height: 640px;
}

#u177
{
	z-index: 5;
	border-style: none;
	border-color: transparent;
	background-color: #3B5998;
	padding-bottom: 81px;
}

#u186_align_to_page,#u181_align_to_page,#u177_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
}

#u196-6
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 276px;
	left: 177px;
}

#u203-57
{
	z-index: 54;
	width: 350px;
	min-height: 593px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 740px;
}

#u203-7,#u203-14,#u203-21,#u203-28,#u203-35,#u203-42,#u203-49
{
	font-size: 18px;
	line-height: 18px;
}

#u241-4,#u241-5,#u241-9,#u203-10,#u203-17,#u203-24,#u203-31,#u203-38,#u203-45,#u203-52
{
	font-size: 24px;
	line-height: 42px;
}

#u203-6,#u203-13,#u203-20,#u203-27,#u203-34,#u203-41,#u203-48,#u203-55
{
	font-size: 14px;
	line-height: 14px;
}

#u207-8
{
	z-index: 115;
	width: 234px;
	min-height: 593px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1105px;
}

#u203-3,#u207-3
{
	font-size: 30px;
	line-height: 53px;
}

#u207-6
{
	font-size: 14px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u207-4
{
	font-size: 12px;
	line-height: 12px;
}

#u177-bw
{
	z-index: 5;
	height: 647px;
}

#u202-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1576px;
	left: 787px;
}

#u192-18
{
	z-index: 36;
	width: 582px;
	min-height: 370px;
	background-color: transparent;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 665px;
	left: 740px;
}

#u192-2
{
	font-size: 30px;
	line-height: 53px;
	font-weight: normal;
}

#u192-3
{
	line-height: 25px;
}

#u241-7,#u241-11,#u192-5,#u192-6,#u192-8,#u192-10,#u192-12,#u192-14,#u192-16
{
	font-size: 18px;
	line-height: 32px;
}

#u209
{
	z-index: 114;
	width: 400px;
	min-height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1276px;
	left: 910px;
}

body
{
	position: relative;
	min-width: 1260px;
}

