.version.index /* version checker */
{
	color: #000019;
	background-color: #CE7A72;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1260px;
	min-height: 4349px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u72
{
	z-index: 116;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #222222;
	position: fixed;
	top: 0px;
}

#u72-bw
{
	z-index: 116;
}

#top
{
	position: relative;
}

#u74
{
	z-index: 117;
	width: 100px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -575px;
}

#u86-4
{
	z-index: 119;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -420px;
}

#u91-4
{
	z-index: 123;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -210px;
}

#u92-4
{
	z-index: 127;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 0px;
}

#u95-4
{
	z-index: 135;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 420px;
}

#u93-4
{
	z-index: 131;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: 210px;
}

#pu106
{
	width: 0.01px;
	margin-left: 167px;
	margin-top: 222px;
}

#u106
{
	z-index: 9;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu251-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 88px;
	margin-left: 522px;
}

#u251-4
{
	z-index: 2;
	width: 93px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 355px;
	position: relative;
}

#u251-2
{
	padding-top: 4px;
}

#u112-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#event
{
	margin-top: 47px;
	position: relative;
}

#pu98
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 82px;
}

#u98
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: #00A3E9;
	padding-bottom: 90px;
}

#session
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 533px;
	left: 100px;
}

#u113-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 232px;
}

#u152-19
{
	z-index: 94;
	width: 582px;
	min-height: 500px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 740px;
}

#u152-4
{
	font-weight: bold;
}

#u152-15
{
	font-size: 24px;
	line-height: 42px;
}

#u152-17
{
	font-size: 14px;
	line-height: 25px;
}

#u98-bw
{
	z-index: 8;
	height: 562px;
}

#u158
{
	z-index: 114;
	position: relative;
	width: 495px;
	margin-right: -10000px;
	margin-top: 478px;
	left: 739px;
	background: url("../images/u158_states.png") no-repeat 0px 0px;
}

#u158_states
{
	height: 92px;
	width: 495px;
	vertical-align: top;
}

#u158:hover #u158_states
{
	background: url("../images/u158_states-r.png") no-repeat 0px 0px;
}

.hidpi #u158
{
	background-image: url("../images/u158_states_2x.png");
	background-size: 495px 92px;
}

.hidpi #u158:hover #u158_states
{
	background-image: url("../images/u158_states-r_2x.png");
	background-size: 495px 92px;
}

#u118
{
	z-index: 19;
	border-style: none;
	border-color: transparent;
	background-color: #E22F8B;
	padding-bottom: 99px;
}

#u118_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
	margin-bottom: -5px;
}

#facebook
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 678px;
	left: 100px;
}

#u119-4
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 213px;
}

#u252-11
{
	z-index: 207;
	width: 571px;
	min-height: 223px;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 42px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 740px;
}

#u118-bw
{
	z-index: 19;
	margin-top: -5px;
	height: 696px;
}

#u120
{
	z-index: 24;
	border-style: none;
	border-color: transparent;
	background-color: #3B5998;
	padding-bottom: 70px;
}

#u120_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#aboutus
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 646px;
	left: 100px;
}

#u121-6
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 177px;
}

#u150-16
{
	z-index: 78;
	width: 250px;
	min-height: 593px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 740px;
}

#u152-13,#u150-3,#u150-10
{
	font-size: 30px;
	line-height: 53px;
}

#u163-66
{
	z-index: 141;
	width: 365px;
	min-height: 593px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 995px;
}

#u163-3,#u163-10,#u163-17,#u163-24,#u163-31,#u163-38,#u163-45,#u163-52,#u163-59
{
	font-size: 24px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u163,#u163-8,#u163-15,#u163-22,#u163-29,#u163-36,#u163-43,#u163-50,#u163-57
{
	font-size: 22px;
	line-height: 39px;
}

#u150-6,#u150-13,#u163-6,#u163-13,#u163-20,#u163-27,#u163-34,#u163-41,#u163-48,#u163-55,#u163-62
{
	font-size: 14px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u150-4,#u150-11,#u163-4,#u163-11,#u163-14,#u163-18,#u163-25,#u163-32,#u163-39,#u163-46,#u163-53,#u163-60
{
	font-size: 12px;
	line-height: 12px;
}

#u150-7,#u163-7,#u163-21,#u163-28,#u163-35,#u163-42,#u163-49,#u163-56,#u163-63
{
	font-size: 18px;
	line-height: 18px;
}

#u150-14,#u163-64
{
	font-size: 14px;
	line-height: 14px;
}

#u120-bw
{
	z-index: 24;
	margin-top: -1px;
	height: 680px;
}

#pu154
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u154
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 82px;
}

#u98_align_to_page,#u154_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
}

#twitter
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 672px;
	left: 100px;
}

#u122-6
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 177px;
}

#u149-18
{
	z-index: 60;
	width: 582px;
	min-height: 370px;
	background-color: transparent;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 740px;
}

#u152-2,#u149-2
{
	font-size: 30px;
	line-height: 53px;
	font-weight: normal;
}

#u152-7,#u152-8,#u149-3
{
	line-height: 25px;
}

#u152-6,#u152-10,#u152-11,#u149-5,#u149-6,#u149-8,#u149-10,#u149-12,#u149-14,#u149-16
{
	font-size: 18px;
	line-height: 32px;
}

#u154-bw
{
	z-index: 6;
	height: 690px;
}

#u73
{
	z-index: 7;
	border-style: none;
	border-color: transparent;
	background-color: #222222;
}

#u73_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
	padding-top: 34px;
	padding-bottom: 46px;
}

#pu125-4
{
	width: 0.01px;
	left: 169px;
	position: relative;
}

#u125-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u132
{
	z-index: 49;
	width: 115px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 626px;
}

#pu138
{
	width: 0.01px;
	left: 310px;
	margin-top: 16px;
	position: relative;
}

#u138
{
	z-index: 50;
	width: 210px;
	min-height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u127-4
{
	z-index: 45;
	position: relative;
	width: 499px;
	margin-right: -10000px;
	margin-top: 186px;
	left: 477px;
}

#u86-4_img,#u91-4_img,#u92-4_img,#u95-4_img,#u93-4_img,#u127-4_img
{
	display: block;
	vertical-align: top;
}

#u126-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	left: 787px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u73-bw
{
	z-index: 7;
	margin-top: 757px;
	height: 700px;
}

#u140-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1112px;
	left: 787px;
}

#u160
{
	z-index: 140;
	width: 400px;
	min-height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 812px;
	left: 910px;
}

body
{
	position: relative;
	min-width: 1260px;
}

