.version.index /* version checker */
{
	color: #000018;
	background-color: #6D99BB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1260px;
	min-height: 1351.950000000008px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u72
{
	z-index: 248;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #222222;
	position: fixed;
	top: 0px;
}

#u72-bw
{
	z-index: 248;
}

#top
{
	position: relative;
}

#u74
{
	z-index: 249;
	width: 100px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -575px;
}

#u86-4
{
	z-index: 251;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -420px;
}

#u91-4
{
	z-index: 255;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -210px;
}

#u92-4
{
	z-index: 259;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 0px;
}

#u95-4
{
	z-index: 267;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: 420px;
}

#u93-4
{
	z-index: 263;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 34px;
	left: 50%;
	margin-left: 210px;
}

#pevent
{
	width: 0.01px;
	margin-top: 206px;
}

#event
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 376px;
}

#u106
{
	z-index: 7;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 167px;
}

#pu251-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 639px;
}

#u251-4
{
	z-index: 2;
	width: 93px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: #C1272D;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 356px;
	position: relative;
}

#u251-2
{
	padding-top: 4px;
}

#u112-8
{
	z-index: 9;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u428-8
{
	z-index: 275;
	width: 440px;
	min-height: 108px;
	background-color: transparent;
	color: #29ABE2;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u428-2
{
	font-size: 24px;
	line-height: 42px;
	font-weight: normal;
}

#u428-6
{
	font-size: 12px;
	line-height: 21px;
}

#u427
{
	z-index: 273;
	margin-top: 16px;
	position: relative;
	background: url("../images/u427_states.png") no-repeat 0px 0px;
}

#u427:hover #u427_states
{
	background: url("../images/u427_states-r.png") no-repeat 0px 0px;
}

.hidpi #u427
{
	background-image: url("../images/u427_states_2x.png");
	background-size: 495px 92px;
}

.hidpi #u427:hover #u427_states
{
	background-image: url("../images/u427_states-r_2x.png");
	background-size: 495px 92px;
}

#pu98
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 82px;
}

#u98
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #00A3E9;
	padding-bottom: 87px;
}

#session
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 966px;
	left: 100px;
}

#u113-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 508px;
	left: 211px;
}

#u152-31
{
	z-index: 23;
	width: 582px;
	min-height: 819px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 740px;
}

#u152-22
{
	font-size: 18px;
	text-align: right;
	line-height: 32px;
}

#u152-20
{
	text-decoration: underline;
}

#u152-27
{
	font-size: 24px;
	line-height: 42px;
}

#u98-bw
{
	z-index: 6;
	height: 984px;
}

#u158
{
	z-index: 55;
	position: relative;
	width: 495px;
	margin-right: -10000px;
	margin-top: 913px;
	left: 739px;
	background: url("../images/u158_states.png") no-repeat 0px 0px;
}

#u427_states,#u158_states
{
	height: 92px;
	width: 495px;
	vertical-align: top;
}

#u158:hover #u158_states
{
	background: url("../images/u158_states-r.png") no-repeat 0px 0px;
}

.hidpi #u158
{
	background-image: url("../images/u158_states_2x.png");
	background-size: 495px 92px;
}

.hidpi #u158:hover #u158_states
{
	background-image: url("../images/u158_states-r_2x.png");
	background-size: 495px 92px;
}

#u306-38
{
	z-index: 57;
	width: 574px;
	min-height: 399px;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #555555;
	text-align: left;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 740px;
}

#u306-2
{
	font-size: 24px;
	line-height: 42px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

#u306-36
{
	font-size: 18px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u306-6,#u306-13,#u306-20,#u306-27,#u306-34
{
	font-weight: bold;
	line-height: 32px;
}

#u152-29,#u306-9,#u306-16,#u306-23,#u306-30,#u306-35
{
	font-size: 14px;
	line-height: 25px;
}

#u307
{
	z-index: 95;
	border-style: none;
	border-color: transparent;
	background-color: #E22F8B;
	padding-bottom: 86px;
}

#u98_align_to_page,#u307_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
}

#facebook
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 484px;
	left: 100px;
}

#u308-4
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 247px;
}

#u309-11
{
	z-index: 100;
	width: 571px;
	min-height: 223px;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 42px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 189px;
	left: 736px;
}

#u307-bw
{
	z-index: 95;
	height: 502px;
}

#u310
{
	z-index: 111;
	border-style: none;
	border-color: transparent;
	background-color: #3B5998;
	padding-bottom: 53px;
}

#aboutus
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 644px;
	left: 112px;
}

#u311-6
{
	z-index: 112;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 177px;
}

#u313-16
{
	z-index: 119;
	width: 250px;
	min-height: 593px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 740px;
}

#u152-25,#u313-3,#u313-10
{
	font-size: 30px;
	line-height: 53px;
}

#u314-66
{
	z-index: 135;
	width: 365px;
	min-height: 593px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 995px;
}

#u314-3,#u314-10,#u314-17,#u314-24,#u314-31,#u314-38,#u314-45,#u314-52,#u314-59
{
	font-size: 24px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u314,#u314-8,#u314-15,#u314-22,#u314-29,#u314-36,#u314-43,#u314-50,#u314-57
{
	font-size: 22px;
	line-height: 39px;
}

#u313-6,#u313-13,#u314-6,#u314-13,#u314-20,#u314-27,#u314-34,#u314-41,#u314-48,#u314-55,#u314-62
{
	font-size: 14px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u313-4,#u313-11,#u314-4,#u314-11,#u314-14,#u314-18,#u314-25,#u314-32,#u314-39,#u314-46,#u314-53,#u314-60
{
	font-size: 12px;
	line-height: 12px;
}

#u313-7,#u314-7,#u314-21,#u314-28,#u314-35,#u314-42,#u314-49,#u314-56,#u314-63
{
	font-size: 18px;
	line-height: 18px;
}

#u313-14,#u314-64
{
	font-size: 14px;
	line-height: 14px;
}

#u310-bw
{
	z-index: 111;
	margin-top: -2px;
	height: 697px;
}

#u315
{
	z-index: 201;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 72px;
}

#u310_align_to_page,#u315_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
	margin-bottom: -2px;
}

#twitter
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 682px;
	left: 100px;
}

#u316-6
{
	z-index: 202;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 189px;
}

#u318-18
{
	z-index: 209;
	width: 582px;
	min-height: 370px;
	background-color: transparent;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 752px;
}

#u152-2,#u318-2
{
	font-size: 30px;
	line-height: 53px;
	font-weight: normal;
}

#u318-3
{
	line-height: 25px;
}

#u428-4,#u152-3,#u152-5,#u152-6,#u152-7,#u152-8,#u152-9,#u152-10,#u152-11,#u152-12,#u152-13,#u152-14,#u152-15,#u152-16,#u152-17,#u152-18,#u152-19,#u152-23,#u318-5,#u318-6,#u318-8,#u318-10,#u318-12,#u318-14,#u318-16
{
	font-size: 18px;
	line-height: 32px;
}

#u315-bw
{
	z-index: 201;
	margin-top: -2px;
	height: 700px;
}

#pu319
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 2px;
}

#u319
{
	z-index: 227;
	border-style: none;
	border-color: transparent;
	background-color: #222222;
}

#u319_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	position: relative;
	left: -100px;
	padding-top: 34px;
	padding-bottom: 46px;
}

#pu320-4
{
	width: 0.01px;
	left: 152px;
	position: relative;
}

#u320-4
{
	z-index: 228;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u323
{
	z-index: 240;
	width: 115px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 626px;
}

#pu325
{
	width: 0.01px;
	left: 293px;
	margin-top: 16px;
	position: relative;
}

#u325
{
	z-index: 241;
	width: 210px;
	min-height: 504px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u322-4
{
	z-index: 236;
	position: relative;
	width: 499px;
	margin-right: -10000px;
	margin-top: 186px;
	left: 477px;
}

#u86-4_img,#u91-4_img,#u322-4_img
{
	display: block;
	vertical-align: top;
}

#u321-4
{
	z-index: 232;
	display: block;
	vertical-align: top;
	left: 770px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u319-bw
{
	z-index: 227;
	height: 700px;
}

#u327-4
{
	z-index: 242;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 770px;
}

#u329
{
	z-index: 247;
	width: 400px;
	min-height: 85px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 893px;
}

body
{
	position: relative;
	min-width: 1260px;
}

