@charset "UTF-8";

/*-------------------------------------------
Header
-------------------------------------------*/

header {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:145px;
	background-color:#222222;
	z-index:10000;
}
header div {
	position:relative;
	width:1024px;
	height:145px;
	margin:0 auto;
}

header h1 {
	position:absolute;
	top:20px;
	left:10px;
	width:420px;
	height:100px;
}

header ul {
	position:absolute;
	top:20px;
	left:440px;
	width:590px;
	height:26px;
}

header ul li {
	height:26px;
	display:inline;
	padding-right:20px;
}
header ul li.end {
	padding-right:0px;
}

header p {
	position:absolute;
	top:63px;
	left:440px;
	width:552px;
	height:57px;
}



/*-------------------------------------------
contents
-------------------------------------------*/
div#contents{
	padding-top:145px;
	margin-top:-145px;
	width:1024px;
	height:auto;
	margin:0 auto;
}

/*-------------------------------------------
Intro
-------------------------------------------*/
#sIntro{
	padding:46px 0 30px 0;
}


#sIntro .rCon{
	float:right;
	width:714px;
}
#sIntro .lCon{
	float:left;
	width:270px;
}
#sIntro .lCon li{
	margin-left:30px;
}

/* lCon inner */
#sIntro .lCon p{
	margin:40px 0 20px 40px;
}


/* rCon inner */
#sIntro .rCon h2{
	font-size:18px;
	font-weight:bold;
	padding-bottom:5px;
}

#sIntro .rCon p{
	width:690px;
}
#sIntro .rCon p a{
	text-decoration:underline;
}

#sIntro .rCon dl{
	position:relative;
	width:685px;
	height:118px;
	display:block;
	margin-top:12px;
	margin-bottom:20px;
	background-color:#f0f0f0;
}

#sIntro .rCon dl dt,
#sIntro .rCon dl dd{
	position:absolute;
}

#sIntro .rCon dl dt{
	color:#FFFFFF;
	text-align:center;
	display:block;
	width:72px;
	height:24px;
	background-color:#333333;
}

#sIntro .rCon dl dd{
	width:530px;
}
#sIntro .rCon dl dd strong{
	font-weight:bold;
}

#sIntro .rCon dl dt.lab01{ 	top:20px;	left:20px; }
#sIntro .rCon dl dt.lab02{ 	top:73px;	left:20px; }
#sIntro .rCon dl dd.txt01{ 	top:20px;	left:100px; }
#sIntro .rCon dl dd.txt02{ 	top:73px;	left:100px; }

#sIntro p#ann{
	margin:0 0 0 30px;
	padding-top:30px;
}

/*-------------------------------------------
gallery
-------------------------------------------*/
#gallery {
	width:962px;
	margin:0 auto 40px auto;
}

/*-------------------------------------------
Whats New
-------------------------------------------*/

#whatsnew{
	border: solid 1px #ccd5cc;
    width: 934px;
    padding: 15px;
    margin: 0 auto 30px;
}

#whatsnew img {
	margin-bottom:  15px;
}

#whatsnew ul {
    list-style-image: url(../img/bullet_bl.gif);
    margin-left:  20px;
}

#whatsnew ul a {
	color:#1ca8dd;
	display:block;
	text-decoration:underline;
}


/*-------------------------------------------
Program
-------------------------------------------*/

#sProgram{
	padding:30px 0 30px 30px;
	background-color:#0072c6;
}
#sProgram h2{
	margin-bottom:20px;
	float:  left;
}
#sProgram .pdf_dl{
         color:#FFFFFF;
         padding-right:40px;
          float:  right;
}
#sProgram div.clear{
         clear: both;
}
table {
	font-size:0.8em;
}
table .time {
	width:50px;
	text-align:center;
	padding:3px 0;
	font-weight:normal;
	vertical-align:middle;
}
table .KeyNote {
	padding:3px;
}
table .room-HP {
	width:256px;
	padding:3px;
}
table .RoomA,
table .RoomB,
table .RoomC,
table .RoomD {
	width:124px;
	padding:3px;
}
table .hands-on {
	width:108px;
	padding:3px;
	vertical-align:middle;
}
table td {
	font-weight:normal;
	padding:3px;
}
table td.Hackfest_border {
	border-right:2px dotted #CCC;
}
table {
	width:962px;
	margin:10px 0 0 0;
	border-top:2px solid #CCC;
	border-left:2px solid #CCC;
	border-spacing:0px;
}
table thead th {
	background-color:#222222;
	color:#FFFFFF;
	border-bottom:2px solid #CCC;
	border-right:2px solid #CCC;
	vertical-align:middle;
	font-weight:normal;
}
table tbody th {
	color:#333333;
	margin:0;
	line-height:1;
	text-align:center;
	vertical-align:middle;
	background-color:#F0F0F0;
	border-bottom:2px solid #CCC;
	border-right:2px solid #CCC;
	font-weight:normal;
}
table  tbody td {
	background-color:#FFFFFF;
	color:#333333;
	border-bottom:2px solid #CCC;
	border-right:2px solid #CCC;
}
table  tbody td.blank {
	background:url(../img/bg_stripe.png) 0 0 repeat;
}
table tbody td a {
	display:block;
	width:100%;
	height:100%;
}
table tbody td a span {
	padding-left:20px;
}
table tbody td .Session_ttl {
	font-weight:bold;
	padding:0 0 10px 0;
}
table tbody td .Session_sub {
	padding:10px 0 0 0;
}
table tbody td .Session_sub a {
	color: #1CA8DD;
	text-decoration:underline;
}

table .Hackfest_sub dt {
	padding:5px 0;
	font-weight:bold;
}
table .Hackfest_sub dd li {
	background:transparent url(../img/bullettriangle.png) 0px 6px no-repeat;
	padding:0 0 5px 10px;
}

table .party dt {
	padding:10px 0 5px 0;
	font-weight:bold;
}
table .party dd {
	padding:0 0 10px 0;
}
	
.clicklink {
	cursor: pointer;
	text-decoration:none;
}
.clicklink span {
	color: #1CA8DD;
	text-decoration:underline;
	padding-left:20px;
	background:transparent url(../img/arr_btm.png) 0 0 no-repeat;
	font-weight:bold;
}

.clicklink:hover {
	background:#e5f1f9;
	text-decoration:none;
}


/*-------------------------------------------
Session
-------------------------------------------*/

#sSession{
	padding:30px 0 0px 30px;
	background-color:#00a3e9;
}

#sSession h2{
	margin-bottom:20px;
}

#sSession h3{
	width:964px;
	height:36px;
	display:block;
	padding-top:4px;
	font-size:20px;
	color:#FFFFFF;
	background-color:#222222;
	border-bottom:#FFFFFF 20px solid;
}

#sSession h3 span{
	padding:0 0 0 40px;
	background:url(../img/stit.gif) 20px 4px no-repeat;
}

#sSession .clear{
	width:964px;
	background:#FFFFFF url(../img/bg_cloud2.gif) 100% 100% no-repeat;
}
#sSession .clear p{
	padding-bottom:20px;
}
#sSession .lCon{
	float:left;
	width:300px;
	padding-left:20px;
}
#sSession .rCon{
	float:right;
	width:590px;
	padding:0 20px 0 20px;
}

#sSession .rCon a{
	text-decoration:underline;
}

#sSession dl {
	padding-bottom:5px;
}
#sSession dt {
	color:#0072c6;
	font-size:18px;
	padding-left:20px;
	background:transparent url(../img/circle.gif) 0px 5px no-repeat;
}
#sSession dd {
	padding-bottom:10px;
}

#sSession dl.sinCon {
	width:924px;
	padding:0 20px 0 20px;
	padding-bottom:5px;
	background:#FFFFFF url(../img/bg_cloud3.gif) 100% 100% no-repeat;
}

#sSession #sec11,#sSession #sec12,#sSession #sec13,#sSession #sec14,#sSession #sec15,
#sSession #sec21,#sSession #sec22,#sSession #sec23,#sSession #sec24,#sSession #sec25,
#sSession #sec31,#sSession #sec32,#sSession #sec33,#sSession #sec34,#sSession #sec35,
#sSession #spn01,#sSession #spn02,#sSession #Hackfest,#sSession #handson{
padding-top:145px;
margin-top:-145px;
display:block;
}


p.pTOP {
	text-align:right;
	margin-right:30px;
	padding:15px 0 20px 0;
}

#sSession .sinCon_Hackfest {
	clear:both;
	width:924px;
	padding:0 20px 0 20px;
	padding-bottom:5px;
	background:#FFFFFF url(../img/bg_cloud3.gif) 100% 100% no-repeat;
}
#sSession .sinCon_Hackfest p {
	padding:0 15px 20px 15px;
}
#sSession .sinCon_Hackfest h4 {
	padding:2px 15px;
	background:#e5f6fd;
	color:#0072c6;
	font-weight:bold;
	font-size:1.2em;
	margin:0 0 15px 0;
}
#sSession .sinCon_Hackfest .event_box h5 {
	color:#0072c6;
	font-size:1.1em;
	line-height:1.2em;
	border-left:8px solid #0055cc;
	padding:0 0 0 10px;
	margin:19px 14px 14px 14px;
}
#sSession .sinCon_Hackfest .event_box {
	width:922px;
	border:1px solid #cccccc;
	background:none;
	margin-bottom:15px;
	padding-bottom:10px;
}
#sSession .sinCon_Hackfest .event_box .clear{
	background:none;
}
#sSession .sinCon_Hackfest .event_box .lCon{
	float:left;
	width:265px;
	padding:0 20px;
}
#sSession .sinCon_Hackfest .event_box .rCon{
	float:left;
	width:577px;
	padding:0 20px 0 19px;
	border-left:1px solid #cccccc;
}

#sSession .sinCon_Hackfest .event_box .rCon a{
	text-decoration:underline;
}

#sSession .sinCon_Hackfest .event_box dl {
	padding-bottom:5px;
}
#sSession .sinCon_Hackfest .event_box dt {
	color:#0072c6;
	font-size:18px;
	padding-left:20px;
	background:transparent url(../img/circle.gif) 0px 5px no-repeat;
}
#sSession .sinCon_Hackfest .event_box dd {
	padding-bottom:5px;
}
#sSession .sinCon_Hackfest .event_box dl.sinCon {
	width:924px;
	padding:0 20px 0 20px;
	padding-bottom:5px;
	background:none;
}

/*-------------------------------------------
Sponsor
-------------------------------------------*/
#sSponsor{
	padding:30px 0 0 20px;
}

/*#sSponsor p{
	width:1024px;
	text-align:center;
	padding:30px 0;
}*/
#sSponsor .sCon {
	margin:10px 0 0 0;
	border-top:1px solid #CCCCCC;
}
#sSponsor .sCon-end {
	margin:10px 0 30px 0;
	border-top:1px solid #CCCCCC;
}
#sSponsor h3 {
	font-weight:bold;
	font-size:1.2em;
	line-height:1.0em;
	margin:20px 0 10px 0;
	padding:0px 15px 0 13px;
	border-left:7px solid #00A3E9;
}
#sSponsor p {
	margin:30px 0 50px 20px;
}

#sSponsor ul {
	/*text-align:center;
	padding:0 0 20px 0;
	margin-top:10px;*/
	vertical-align:top;
}

#sSponsor ul li{
	float:left;
	margin:0 80px 0 0;
	/*padding:10px 0;*/
}

#sSponsor ul li.end{
	margin:0 100px 0 0;
}
#sSponsor ul li.center{
	padding-left:190px;
}
#sSponsor ul li.space{
	float:left;
	margin:0 20px 0 0;
	padding:10px 0;
}
#sSponsor ul li.space2{
	float:left;
	margin:0 50px 0 0;
	padding:10px 0;
}

#sSponsor ul li a{
}

/*-------------------------------------------
footer
-------------------------------------------*/


footer {
	font-size:14px;
	color:#FFFFFF;
	text-align:center;
	padding:6px;
	background-color:#222222;}








