.version.groups /* version checker */
{
	color: #0000F7;
	background-color: #BB4853;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1456.9999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -18px;
	width: 0.01px;
}

#pu472
{
	width: 0.01px;
	margin-top: -4px;
}

#u472
{
	z-index: 41;
	width: 72px;
	margin-right: -10000px;
}

#u478
{
	z-index: 44;
	width: 18px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 97px;
}

#u478_states
{
	height: 35px;
	width: 18px;
}

#u450
{
	z-index: 23;
	width: 98px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 139px;
}

#u450_states
{
	height: 26px;
	width: 98px;
}

#u471
{
	z-index: 39;
	width: 100px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 263px;
}

#u471_states
{
	height: 26px;
	width: 100px;
}

#u457
{
	z-index: 25;
	width: 193px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 767px;
}

#u458
{
	z-index: 26;
	margin-right: -10000px;
	margin-top: 1px;
}

#u461-5
{
	z-index: 27;
	width: 57px;
	min-height: 25px;
	margin-right: -10000px;
	left: 29px;
}

#u462
{
	z-index: 32;
	margin-right: -10000px;
	left: 99px;
}

#u460-5
{
	z-index: 33;
	width: 66px;
	min-height: 25px;
	margin-right: -10000px;
	left: 127px;
}

#pu511-4
{
	width: 0.01px;
	margin-left: 253px;
	margin-top: 11px;
}

#u511-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u512
{
	z-index: 51;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 62px;
}

#ppu515-9
{
	width: 0.01px;
	margin-left: 141px;
	margin-top: 55px;
}

#pu515-9
{
	width: 0.01px;
	margin-right: -10000px;
}

#u515-9
{
	z-index: 52;
	width: 287px;
	min-height: 82px;
	border-color: #FFFFFF;
	background-color: #E8F8FF;
	padding-left: 20px;
	padding-top: 5px;
	padding-right: 5px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
}

#u517-8
{
	z-index: 134;
	width: 287px;
	min-height: 82px;
	border-color: #FFFFFF;
	background-color: #FFEFF6;
	padding-left: 20px;
	padding-top: 5px;
	padding-right: 5px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u515-4,#u517-3
{
	font-size: 30px;
	line-height: 53px;
}

#u515-7,#u517-6
{
	font-size: 14px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u516-73
{
	z-index: 61;
	width: 365px;
	min-height: 697px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 378px;
}

#u516-14
{
	font-size: 12px;
	line-height: 12px;
	color: #000000;
}

#u516-3,#u516-10,#u516-17,#u516-24,#u516-31,#u516-38,#u516-45,#u516-52,#u516-59,#u516-66
{
	font-size: 24px;
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u516,#u516-8,#u516-15,#u516-22,#u516-29,#u516-36,#u516-43,#u516-50,#u516-57,#u516-64
{
	font-size: 22px;
	line-height: 39px;
}

#u516-6,#u516-13,#u516-20,#u516-27,#u516-34,#u516-41,#u516-48,#u516-55,#u516-62,#u516-69
{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u515-5,#u517-4,#u516-4,#u516-11,#u516-18,#u516-25,#u516-32,#u516-39,#u516-46,#u516-53,#u516-60,#u516-67
{
	font-size: 12px;
	line-height: 12px;
}

#u516-7,#u516-28,#u516-35,#u516-42,#u516-49,#u516-56,#u516-63,#u516-70
{
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

#u516-21,#u516-71
{
	font-size: 14px;
	line-height: 14px;
	color: #000000;
}

#pu433
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 34px;
}

#u433
{
	z-index: 2;
	min-height: 460px;
	padding-bottom: 41px;
}

#u433_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u431
{
	z-index: 3;
	width: 265px;
	min-height: 420px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 100px;
}

#pu436
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 545px;
}

#u436
{
	z-index: 12;
	width: 115px;
	min-height: 25px;
}

#u435-4
{
	z-index: 8;
	margin-left: 16px;
	margin-top: 137px;
}

#u434-4
{
	z-index: 4;
	margin-left: 16px;
	margin-top: 187px;
}

#u433-bw
{
	z-index: 2;
	min-height: 460px;
	margin-top: 25px;
}

#u438-6
{
	z-index: 13;
	margin-right: -10000px;
	margin-top: 280px;
	left: 561px;
}

#u439
{
	z-index: 19;
	width: 400px;
	min-height: 85px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 660px;
}

#u444
{
	z-index: 20;
	width: 50px;
	margin-right: -10000px;
	left: 555px;
}

body
{
	position: relative;
	min-width: 960px;
}

