.version.log /* version checker */
{
	color: #0000E2;
	background-color: #F583DA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1202.9999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -18px;
	width: 0.01px;
}

#pu472
{
	width: 0.01px;
	margin-top: 3px;
}

#u472
{
	z-index: 41;
	width: 55px;
	margin-right: -10000px;
}

#u478
{
	z-index: 44;
	width: 18px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 83px;
}

#u478_states
{
	height: 35px;
	width: 18px;
}

#u450
{
	z-index: 23;
	width: 98px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 125px;
}

#u450_states
{
	height: 26px;
	width: 98px;
}

#u471
{
	z-index: 39;
	width: 100px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 249px;
}

#u471_states
{
	height: 26px;
	width: 100px;
}

#u457
{
	z-index: 25;
	width: 193px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 767px;
}

#u458
{
	z-index: 26;
	margin-right: -10000px;
	margin-top: 1px;
}

#u461-5
{
	z-index: 27;
	width: 57px;
	min-height: 25px;
	margin-right: -10000px;
	left: 29px;
}

#u462
{
	z-index: 32;
	margin-right: -10000px;
	left: 99px;
}

#u460-5
{
	z-index: 33;
	width: 66px;
	min-height: 25px;
	margin-right: -10000px;
	left: 127px;
}

#u505-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	margin-left: 252px;
	margin-top: 22px;
	position: relative;
}

#u499-4
{
	z-index: 47;
	width: 211px;
	min-height: 43px;
	background-color: transparent;
	line-height: 42px;
	color: #E21E79;
	font-size: 24px;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 374px;
	margin-top: 60px;
	position: relative;
}

#u509-12
{
	z-index: 72;
	width: 468px;
	min-height: 34px;
	background-color: transparent;
	line-height: 32px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 246px;
	margin-top: 40px;
	position: relative;
}

#u502-4
{
	z-index: 51;
	width: 211px;
	min-height: 43px;
	background-color: transparent;
	line-height: 42px;
	color: #E21E79;
	font-size: 24px;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 375px;
	margin-top: 40px;
	position: relative;
}

#u508-13
{
	z-index: 59;
	width: 716px;
	min-height: 68px;
	background-color: transparent;
	line-height: 32px;
	font-size: 18px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 122px;
	margin-top: 40px;
	position: relative;
}

#u510-4
{
	z-index: 84;
	width: 255px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 352px;
	margin-top: 73px;
	position: relative;
}

#pu433
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 38px;
}

#u433
{
	z-index: 2;
	min-height: 460px;
	padding-bottom: 41px;
}

#u433_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u431
{
	z-index: 3;
	width: 265px;
	min-height: 420px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 100px;
}

#pu436
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 545px;
}

#u436
{
	z-index: 12;
	width: 115px;
	min-height: 25px;
}

#u435-4
{
	z-index: 8;
	margin-left: 16px;
	margin-top: 137px;
}

#u434-4
{
	z-index: 4;
	margin-left: 16px;
	margin-top: 187px;
}

#u433-bw
{
	z-index: 2;
	min-height: 460px;
	margin-top: 25px;
}

#u438-6
{
	z-index: 13;
	margin-right: -10000px;
	margin-top: 280px;
	left: 561px;
}

#u439
{
	z-index: 19;
	width: 400px;
	min-height: 85px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 660px;
}

#u444
{
	z-index: 20;
	width: 50px;
	margin-right: -10000px;
	left: 555px;
}

body
{
	position: relative;
	min-width: 960px;
}

